{% extends "base.html" %}

{% block title %}Edit User{% endblock %}
{% block heading %}Edit User{% endblock %}

{% block content %}
    <form action="/users/{{ user.id }}" method="post">
        <input type="hidden" name="_method" value="put">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
{% endblock %}
